{extend name="layout:base" /}

{block name="header"}

{include file="common:nav" /}


<div class="container bg-fff mt-20 br-5">
    <div class="row pt-15-pb-15">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th colspan="2">服务器信息</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%">程序版本</td>
                        <td>{$system.app_version}</td>
                    </tr>
                    <tr>
                        <td>PHP版本</td>
                        <td>{$system.php_version}</td>
                    </tr>
                    <tr>
                        <td>MySql版本</td>
                        <td>{$system.mysql_version}</td>
                    </tr>
                    <tr>
                        <td>服务器信息</td>
                        <td>{$system.server_version}</td>
                    </tr>
                    <tr>
                        <td>GD库版本</td>
                        <td>{$system.gd_version}</td>
                    </tr>
                    <tr>
                        <td>最大上传</td>
                        <td>{$system.upload_max}</td>
                    </tr>
                    <tr>
                        <td>最大执行时间</td>
                        <td>{$system.exec_max}</td>
                    </tr>
                    <tr>
                        <td>时间</td>
                        <td>{$system.date}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">程序官方信息</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>版权所有</td>
                        <td>
                            <a target="_blank" href="http://wefee.cc"><b>Wefee.CC</b></a>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">开发团队</td>
                        <td>
                            <a target="_blank" href="http://github.com/Qsnh">轻色年华</a>
                        </td>
                    </tr>
                    <tr>
                        <td>QQ交流群</td>
                        <td>
                            <a target="_blank" href="https://jq.qq.com/?_wv=1027&k=44XnlyO">Wefee交流一群：487598183</a>
                        </td>
                    </tr>
                    <tr>
                        <td>相关链接</td>
                        <td>
                            <a target="_blank" href="http://wefee.cc">Wefee.CC（官方唯一地址）</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{include file="common:footer" /}

{/block}